<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0 py-5 my-5">
          <div class="row py-5 my-5">
            <div class="col-lg-6 mx-auto d-block">
              <h1 class="display-3  text-white text-center">Land your hand for good
                <span>donate to help </span>
              </h1>
              <div class="btn-wrapper text-center">
                <a routerLink='/register'
                  class="btn btn-white btn-icon mb-3 mb-sm-0 ">
                  <span class="btn-inner--text">Sign Up</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
    <!-- 1st Hero Variation -->
  </div>

</main>