<nav id="navbar-main"
  class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container">
    <a class="navbar-brand mr-lg-5">
      <span class="text-white h3"><b>PayIt</b></span>
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a>
              <span class="text-primary h3"><b>PayIt</b></span>
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <li class="nav-item dropdown" routerLink='/home' style="cursor: pointer;" *ngIf="!isLogined">
          <a class="nav-link ">
            <span class="nav-link-inner--text">Home</span>
          </a>

        </li>
        <li class="nav-item dropdown" routerLink='/register' style="cursor: pointer;" *ngIf="!isLogined">
          <a class="nav-link ">
            <span class="nav-link-inner--text">Sign Up</span>
          </a>

        </li>
        <li class="nav-item dropdown" style="cursor: pointer;" routerLink='/login' *ngIf="!isLogined">
          <a class="nav-link no-caret">
            <span class="nav-link-inner--text">Login</span>
          </a>
        </li>

        <li class="nav-item dropdown" style="cursor: pointer;" *ngIf="isLogined" (click)='logOut()'>
          <a class="nav-link no-caret">

            <span class="nav-link-inner--text">LogOut</span>
          </a>
        </li>
      </ul>

    </div>
  </div>
</nav>